@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

.column {
	color: white;
	font-family: Vollkorn;

	justify-content: center;
	text-align: center;

	margin-bottom: 2%;
}
.title-movie {
	width: 60%;
	margin-right: auto;
	margin-left: auto;
}
.desc-text {
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	text-align: justify;
}

/*Poster*/
.img-poster {
	width: 60%;
}

li {

	font-size: 15px;
	margin-top: 10%;
	margin-bottom: 5%;

	text-align: left;

}

/*Botão para chamar descrição dos filmes*/
.button-description {
	display: block;
	margin-top: 3%;
	margin-left: 5%;		
}
